@import '../../styles/variables.styl';

#weapons
	width: 80%
	#types
		display: flex
		flex-direction: row
		justify-content: space-around
		align-items: center
		align-content: center
		flex-wrap: nowrap
		width: 100%
	#weaponsList
		display: flex
		flex-direction: column
		justify-content: start
		align-items: start
		align-content: stretch
		padding-top: 15px
		max-height: 100%
		overflow-y: auto