@import '../../../styles/variables.styl';

a.navbarLink
	height: 100%
	font-size: 18px
	padding: 20px 30px
	cursor: pointer
	text-decoration: none
	text-transform: uppercase
	color: warm_white
	border-bottom: 1px solid warm_white
	margin-bottom: -1px
	&:hover
		color: division_orange
	&.active
		border-bottom: 2px solid division_orange