@import "variables.styl"

body
	background-color: gray_background
	width: 100%
	height: 100%
	margin: 0px
	padding: 0px
	
h1, h2, h3, h4, h5, a, p, li, span
	color: white
	font-family: Arial 'sans-serif'
	
button
	color: black
	padding: 5px 10px
	text-transform: uppercase
	background-color: transparent
	border: 2px solid orange_accent
	&:hover
		background-color: orange_accent
		color: white
	
