division_orange = #FF7F00
light_gray_background = #424242
warm_white = #F4FFFF
dark_gray_background = #222222
hostile_red = #FF3000
healing_green = #8CC83C
allies_teal = #07E6DC

exotic_red = #d65c4d
exotic_red_background = #2e120c
gear_set_green = #06fc91
high_end_gold = #f3bd50

ghost_clan_font = 'ghostclan', sans-serif
borda_font = 'borda', sans-serif