@import '../../styles/variables.styl';

nav
	display: flex
	flex-direction: row
	justify-content: start
	align-items: center
	align-content: center
	flex-wrap: nowrap
	width: 100%
	padding: 0px 36px
	background-color: black
	border-bottom: 1px solid warm_white